<!DOCTYPE html>
<html class="dark:bg-gray-900 font-['Instrument Sans']" lang="en">
  <head>
    <%- include('../layouts/head', {title : locals.title}) %>
  </head>
  <body class="font-nyt-sans w-full h-full">
    <main class="container w-full px-5 lg:px-0">
      <div class="lg:flex lg:w-[75%] mx-auto lg:flex-row gap-5">
        <!-- Left Column - Sidenav (hidden on small screens) -->
        <div class="lg:col-span-1 hidden lg:block">
            <%- include('../widgets/sidenav') %>
        </div>
        <div class="flex flex-col w-full">
            <%- include('../widgets/topnav') %>                
            <div class="lg:flex">
                <!-- Center Column - All Songs -->
                <div
                class="w-full flex-2/3 lg:h-[calc(100vh-70px)] pr-5 lg:overflow-y-auto lg:sticky lg:top:0 mb-10 border-r border-gray-200 dark:border-gray-800"
                >
                    <%- locals.body %>
                    <!-- Latest Releases Section -->
                    <!-- <section class="mb-8">
                        <h2
                            class="font-instrument mt-4 text-lg font-bold dark:text-white flex-1 mb-4 pb-2 border-b border-gray-200 dark:border-gray-700"
                        >
                            Latest Releases
                        </h2>

                        <div class="flex flex-col gap-0">
                            <%- // include('../widgets/latest') %>
                        </div>
                    </section> -->

                    <!-- Region Sections -->
                    <%- // include('../widgets/region') %>

                    <!-- Top Genre Sections -->
                    <%- // include('../widgets/genre') %>
                </div>

                <!-- Right Column - Trending Music -->
                <div
                class="lg:h-[calc(100vh-70px)] flex-1/3 lg:col-span-1 lg:pl-5 w-full lg:w-125 lg:overflow-y-auto lg:sticky lg:top-0"
                >
                    <%- // locals.side %>
                    <%- // include('../widgets/trending') %> 
                    <%- // include('../widgets/topsongs') %>

                    <div class="mt-8 absolute bottom-0 left-0 pl-5">
                        <%- include('../layouts/foot') %>
                    </div>
                </div>
            </div>
        </div> 
      </div>
    </main>
  </body>
</html>

