<% 
function getInitialsFromWords(str) {
    const words = str.split(' ');

    // Get the first two words
    const firstTwoWords = words.slice(0, 2);

    // Map through the first two words and get the first letter of each
    const initials = firstTwoWords.map(word => word.charAt(0).toUpperCase()).join('');

    return initials; // Return the concatenated initials
}

function getFirstNames(str) {
    return str.split(',')[0];
}

%>

<style>
.artists-slider {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
}

.artist-item {
    scroll-snap-align: start; /* Align items to the start of the container */
}

</style>

<% if (recentArtists) { %>
    <section class="mb-4 mt-4 lg:pr-4">
        <h2 class="font-instrument mt-4 text-lg font-bold dark:text-white flex-1 mb-4 pb-2 border-b border-gray-200 dark:border-gray-700">
            Artists this week
        </h2>
        <div class="w-full overflow-x-auto custom-scrollbar">
            <div class="artists-slider flex gap-3 py-2">
                <% recentArtists.forEach(artist => { %>
                    <div class="artist-item flex-shrink-0">
                        <a href="/artist/<%= artist.artistName %>" class="flex flex-col items-center hover:text-red-500">
                            <% if (artist.artwork) { %>
                                <img src="<%= artist.artwork.url %>" alt="<%= artist.artistName %>" class="object-cover h-25 w-25 rounded-full flex-shrink-0" />
                            <% } else { %>
                                <div class="h-25 w-25 flex rounded-full bg-gray-100 dark:text-gray-400 text-gray-600 text-center justify-center font-black text-5xl p-6">
                                    <p class="inline"><%= getInitialsFromWords(artist.artistName) %></p>
                                </div>
                            <% } %>
                            <p class="text-sm text-center mt-2 text-gray-600"><%= getFirstNames(artist.artistName) %></p>
                            <!-- <p class="text-xs text-gray-400"><%=// artist.country %> - <%=// artist.totalPlays %> plays</p> -->
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>    
<% } %>


