<script>
  const currentUserId = '<%= sessionUser.id %>'; // Assuming you pass userId from your server-side rendering
</script>

<div class="song-item"
      data-song-id="<%= song._id %>" 
      data-album-title="<%= song.albumTitle %>" 
      data-song-title="<%= song.songTitle %>" 
      data-release-year="<%= song.releaseYear %>" 
      data-genre="<%= song.genre %>" 
      data-region="<%= song.region %>" 
      data-country="<%= song.country %>" 
      data-total-plays="<%= song.totalPlays %>" 
      data-more-info="<%= song.moreInfo %>"
      data-song-url="<%= song.songFile?.url %>"
      data-song-artwork="<%= song.artwork.url %>"
    >
    <div 
      class="flex border-b border-gray-200 dark:border-gray-700 flex-wrap gap-1 py-2 px-1 items-center hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors group cursor-pointer"
      onclick="handleLatestSongPlay(this, '<%= song._id %>', '<%= song.songFile?.url %>', '<%= song.songTitle %>', '<%= song.artistName %>', '<%= song.artwork?.url %>')"
    >
      <div class="relative w-8 h-8">
        <!-- Artwork (shown by default) -->
        <img data-song-artwork="<%= song.artwork?.url %>"
          src="<%= song.artwork?.url %>" 
          alt="<%= song.artistName %>" 
          class="object-cover h-8 w-8 rounded-full song-artwork"
        />
        <!-- Play Indicator (hidden by default) -->
        <div class="play-indicator absolute inset-0 rounded-full hidden">
          <div class="absolute inset-0 flex items-center justify-center">
            <span class="absolute w-4 h-4 rounded-full bg-red-600 opacity-75 animate-ping"></span>
            <span class="absolute animate-pulse w-4 h-4 rounded-full bg-red-600"></span>
          </div>
        </div>
      </div>

      <div class="ml-3 flex-grow min-w-0 flex items-center">
        <span class="text-sm font-medium dark:text-white song-title"><%= song.songTitle %></span>
        <span class="mx-2 text-gray-400">-</span>
        <span class="text-xs text-gray-500 dark:text-gray-400 truncate artist-name"><%= song.artistName %></span>
      </div>

      <div class="flex-shrink-0 flex items-center space-x-4 text-xs text-gray-500 dark:text-gray-400">
        <% if (song.releaseYear) { %><span><%= song.releaseYear %></span><% } %>
        <% if (song.albumTitle) { %><span><%= song.albumTitle %></span><% } %>
        <span><%= moment(song.createdAt).fromNow() %></span>
      </div>
    </div>
  </div>

<script>

</script>
