<% const { userAuthenticated, name, username, email } = locals.sessionUser || {}
const route = locals.route || ''
var initials = ''
if (name){
  initials = (name.split(' ')[0][0] + name.split(' ')[1][0]).toUpperCase();
}
%>

<nav class="sticky top-0 z-50 bg-white/90 dark:bg-gray-900 backdrop-blur-sm border-b border-gray-200 dark:border-gray-700">
    <!-- Top Bar -->
  <div class="container">
      <!-- Upper Nav -->
    <div class="flex items-center py-3 justify-between">

      <div class="lg:hidden">
        <button id="openMobileMenu" class="text-gray-800 dark:text-gray-200">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 18 18"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>

      <% if (locals.page !== 'home') { %>
        <div class="hidden lg:block">
          <button onclick="window.history.back()" class="flex items-center p-2 bg-transparent border-none cursor-pointer">
            <svg
              class="w-5 h-5 text-gray-600 dark:text-gray-300 transform transition-transform cursor-pointer"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              />
            </svg>
              <!-- <span class="ml-2">Back</span> --> <!-- Optional text next to the icon -->
          </button>
        </div>
      <% } %>

      <!-- Centered Search and Country Select -->
      <div class="hidden flex-grow mx-4 lg:flex items-center justify-center">
        <div class="relative flex items-center w-full">
          <!-- Search Field -->
          <form action="/search" class="relative flex-1 max-w-[400px]">
            <div class="relative">
              <!-- Search Icon -->
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="h-4 w-4 text-gray-500 dark:text-gray-400"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  />
                </svg>
              </div>
              <!-- Search Input -->
              <input
                type="search"
                placeholder="Search"
                name="q"
                class="w-full bg-gray-50 dark:bg-gray-800  border-gray-300 dark:border-gray-600 pl-10 pr-4 py-1.5 text-sm text-gray-800 dark:text-gray-200 placeholder-gray-500 dark:placeholder-gray-400 focus:outline-none focus:border-gray-800 dark:focus:border-gray-400 focus:ring-0"
              />
              <!-- Quick Search Hint -->
              <div
                class="absolute right-3 top-1/2 -translate-y-1/2 text-xs text-gray-400 dark:text-gray-500 pointer-events-none"
              >
                Press /
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Centered Group - Logo -->
    <div class="py-4 px-2 lg:border-b border-gray-200 dark:border-gray-700 lg:hidden">
      <a href="/">
        <img src="/images/light.svg" class="h-6 lg:h-7 hidden dark:inline" alt="music1 logo" />
        <img src="/images/dark.svg" class="h-6 lg:h-7 inline dark:hidden" alt="music1 logo" />
      </a>
      <p class="text-gray-400 text-xs mt-1 hidden lg:block">...one song, many platforms</p>
    </div>

      <!-- Right Menu Group -->
      <div class="flex items-center lg:space-x-4">
        
        <% if (userAuthenticated) { %>
        <button id="profileButton" class="lg:block text-sm text-gray-800 dark:text-gray-200 hover:text-red-500 dark:hover:text-red-500 rounded-full bg-gray-100 dark:bg-gray-700 p-1.5 cursor-pointer transition-colors">
          <%= initials %>
        </button>

        <!-- Dropdown Menu -->
        <div id="profileDropdown" class="hidden absolute top-12 right-0 w-48 bg-white dark:bg-gray-800 rounded-md shadow-lg py-1 border border-gray-200 dark:border-gray-700 z-50">
          
          <!-- User Info Section -->
          <a href="/profile" class="flex gap-2 px-3 py-3 cursor-pointer border-b border-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
            <button id="profileButton" class="hidden lg:block text-sm text-gray-800 dark:text-gray-200 hover:text-red-500 rounded-full dark:bg-gray-700 bg-gray-100 p-1.5 dark:hover:text-gray-400">
              <%= initials %>
            </button>
            
            <div class="flex flex-col">
              <p class="text-xs text-gray-600 dark:text-gray-400 truncate"><%= username.substring(0,18) + '...' %></p>
              <p class="text-sm text-gray-600 dark:text-gray-400 truncate"><%= name %></p>
            </div>
          </a>

          <!-- Menu Items -->
          <a href="/publish" class="lg:hidden block px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-800">New Song / URL</a>

           <!-- Separator -->
           <div class="lg:hidden border-t border-gray-200 dark:border-gray-700"></div>

          
          <a href="/playlists" class="block lg:hidden px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-700">Playlists</a>

          <a href="/explore" class="block lg:hidden px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-700">Explore</a>

          <a href="/library" class="block lg:hidden px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-700">Library</a>

          <a href="/favourites" class="block lg:hidden px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-700">Liked Songs</a>

          <!-- Separator -->
          <div class="border-t border-gray-200 dark:border-gray-700"></div>

          <div onclick="toggleAccordion(event)" class="cursor-pointer block px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-700">Theme</div>

            <div class="accordion-item hidden bg-gray-50 dark:bg-gray-900 transition-all duration-300 ease-in-out">
              <a onclick="systemTheme()" class="block cursor-pointer px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-700">System</a>

              <a onclick="lightTheme()" class="block cursor-pointer px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-700">Light</a>

              <a onclick="darkTheme()" class="block cursor-pointer px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-700">Dark</a>
            </div>

          <!-- Separator -->
          <div class="border-t border-gray-200 dark:border-gray-700"></div>

          <a href="/settings" class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-500 hover:bg-gray-50 dark:hover:bg-gray-700">Settings</a>

          <!-- Separator -->
          <div class="border-t border-gray-200 dark:border-gray-700"></div>

          <!-- Logout -->
          <form action="/logout" method="POST" class="block">
            <button type="submit" class="w-full cursor-pointer text-left px-4 py-2 text-sm text-red-600 dark:text-red-400 hover:text-red-500 dark:hover:text-red-500">Sign out</button>
          </form>
        </div>
        
        <% if (!route.includes('publish')) { %>
          <a href="/publish" class="hidden lg:block bg-black dark:bg-red-500 text-white px-4 py-2 text-sm font-medium rounded hover:bg-gray-800 dark:hover:bg-red-600 transition-colors">Submit Song or URL</a>
        <% } %>
        
        <% } else { %>
        <a href="/login" class="hidden lg:block text-sm text-gray-800 dark:text-gray-200 hover:text-red-500 dark:hover:text-red-500">Sign In</a>
        <a href="/register" class="hidden lg:block bg-black dark:bg-white text-white dark:text-black px-4 py-2 text-sm font-medium rounded hover:bg-gray-800 dark:hover:bg-gray-100">Get Started</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<!-- Mobile Navigation Menu -->
<div
  id="mobileMenu"
  class="fixed inset-0 bg-white dark:bg-gray-800 transform translate-x-full transition-transform duration-300 ease-in-out z-50"
>
  <div class="h-full flex flex-col p-4">
    <!-- Mobile Menu Header -->
    <div
      class="border-b border-gray-200 dark:border-gray-700 py-4 flex justify-between items-center"
    >
      <!-- Left Menu Group - Logo -->
     <div class="py-4 px-2 lg:border-b border-gray-200 dark:border-gray-700 lg:hidden">
      <a href="/">
        <img src="/images/light.svg" class="h-6 lg:h-7 hidden dark:inline" alt="music1 logo" />
        <img src="/images/dark.svg" class="h-6 lg:h-7 inline dark:hidden" alt="music1 logo" />
      </a>
    </div>

      <button
        id="closeMobileMenu"
        class="text-gray-800 dark:text-gray-200 hover:text-red-500"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
            </svg>
      </button>
    </div>

    <!-- Mobile Menu Content -->
    <div class="flex flex-col overflow-y-auto">
      <!-- Search Bar -->
      <form action="/search" class="mb-6">
        <div class="relative">
          <input
            type="search"
            placeholder="SEARCH"
            name="q"
            class="w-full placeholder:text-sm bg-gray-50 dark:bg-gray-800 border-b border-gray-300 dark:border-gray-700 pl-10 pr-4 py-2 text-gray-800 dark:text-gray-300 focus:outline-none"
          />
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center">
            <svg
              class="h-5 w-5 text-gray-500"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </div>
        </div>
      </form>
  
      <!-- Navigation Links -->
      <nav>

        <!-- Genres Section -->
        <%- include('./mobile-nav') %>

          <!-- Bottom Section -->
        <% if (!userAuthenticated) { %>
          <div class="mt-8 pt-6 border-t dark:border-gray-700">
            <a
              href="/login"
              class="block mb-4 py-2 text-sm text-center text-gray-800 dark:text-gray-200 hover:text-red-500 dark:hover:text-red-500"
              >Sign In</a
            >
            <a
              href="/register"
              class="block w-full bg-black dark:bg-white text-white dark:text-black px-4 py-3 text-center text-sm font-medium rounded hover:bg-gray-800 dark:hover:bg-gray-100"
              >Get Started</a
            >
          </div>
          
            <% } else { %>
              <a
              href="/publish"
              class="block w-full bg-black dark:bg-red-500 text-white dark:text-white px-4 py-3 text-center text-sm font-medium rounded hover:bg-gray-800 dark:hover:bg-gray-100"
              >Submit Link or URL</a
            >

            <!-- Logout -->
            <form action="/logout" method="POST" class="block mt-4">
              <button type="submit" class="w-full cursor-pointer text-center px-4 py-2 text-sm text-red-600 dark:text-red-400 hover:text-red-500 dark:hover:text-red-500">Sign out</button>
            </form>
            <% } %>
    </div>
      </nav>
    </div>
  </div>

<div id="snackbarWrapper" class="relative">
  <!-- Snackbar will be appended here -->
</div>
  
